.grif-tile {
  background-color: #e4e4e4;
}


.device-details {
  width: 30vw;
  height: 85vh;
  background-color: rgb(228, 228, 228);
  margin-top: 20px;
  margin-left: 60px;
}

.charts {
  width: 50vw;
  height: 85vh;
  background-color: rgb(228, 228, 228);
  margin-top: 20px;
  margin-left: 60px;
}

.mat-grid-tile-content {
  justify-content: left !important;
}

.tag {
  font-weight: bolder;
  margin-left: 10px;
}