.title {
  font-family: Rajdhani;
  font-size: 10vw;
  color: #f7bc00;
  font-weight: bolder;

  font-size: 50px !important;
  background-color: white;

  margin-top: 40px !important;
  padding-left: 60px !important;
}

.create {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}